:root {
    --montserrat: "Montserrat", sans-serif;
    --poppins: "Poppins", sans-serif;

    --primary-dark: #252B42;
    --primary-bright: #FA4A0C;
    --white: #ffffff;
    --grey: #737373;
}

body {
    font-family: var(--montserrat);
    font-weight: 700;
    font-size: 24px;
}



._container {
    max-width: 1150px;
    padding: 0 25px;
    margin: 0 auto;
}

.nav__link {
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-dark);
}

.nav__link:hover {
    color: var(--primary-bright);
}

.main-screen {
    color: var(--white);
    background: linear-gradient(rgba(23, 16, 16, 0.6), rgba(23, 16, 16, 0.6)), url('images/background-1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-screen__title {
    font-family: var(--poppins);
    font-size: 58px;
}

.main-screen__text {
    font-weight: 500;
}

.main-screen__button {
    border-radius: 30px;
    padding: 16px 65px;
}

.button__primary {
    background-color: var(--primary-bright);
}

.button__secondary {
    border: 1px solid var(--white);
}

.product__title {
    font-family: var(--poppins);
    font-size: 44px;
    font-weight: 600;
}

.subtitle {
    color: var(--primary-bright);
}

.title {
    font-size: 40px;
}

.text {
    font-weight: 500;
    color: var(--grey);
}

.order {
    color: var(--white);
    background: linear-gradient(rgba(37, 43, 66, 0.4), rgba(37, 43, 66, 0.4)), url('images/background-2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.order__title {
    font-size: 40px;
}

.order__subtitle {
    font-weight: 500;
}

.order__button {
    font-size: 16px;
    padding: 16px 32px;
    border-radius: 18px;
}

.footer__copyright {
    font-size: 12px;
}



.header {
    display: flex;
    justify-content: space-around;
}

.nav__list {
    display: flex;
    justify-content: center;
    gap: 77px;
    padding-top: 54px;
}

.header__logo {
    padding-top: 49px;
    padding-bottom: 41px;
}



.main-screen__subtitle {
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.main-screen__title {
    display: flex;
    margin: 0 auto;
    max-width: 799px;
}

.main-screen__text {
    display: flex;
    justify-content: center;
    padding-top: 9px;
    padding-bottom: 54px;
}

.main-screen__buttons {
    display: flex;
    justify-content: center;
    gap: 67px;
    padding-bottom: 162px;
}

.main-screen__button {
    width: 236px;
    height: 68px;
}

.product__title {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 60px;
}

.create-account {
    display: flex;
    justify-content: center;
    gap: 282px;
}

.create-account__description {
    padding-top: 113px;
}

.explore {
    display: flex;
    justify-content: center;
    gap: 282px;
    padding-top: 80px;
    padding-bottom: 214px;
}

.explore__description {
    padding-top: 105px;
}

.subtitle {
    padding-bottom: 20px;
}

.text {
    padding-top: 20px;
}

.order__title {
    display: flex;
    justify-content: center;
    padding-top: 141px;
}

.order__subtitle {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.order__buttons {
    display: flex;
    justify-content: center;
    padding-top: 49px;
    padding-bottom: 132px;
    gap: 16px;
}

.noname_button {
    width: 142px;
    height: 64px;
}

.noname_button-second {
    width: 173px;
    height: 60px;
}

.footer__container {
    display: flex;
    justify-content: space-around;
    gap: 737px;
}

.footer__copyright{
    padding-top: 125px;
}

.footer__logo{
    padding-top: 106px;
    padding-bottom: 66px;
}